In [1]:
import datetime
import numpy as np
import pandas as pd
from pandas import Series
from itertools import groupby
import matplotlib.pyplot as plt

%matplotlib inline

In [36]:
df = pd.read_csv('../../data/train.csv')
ids = df['KPI ID'].unique()

In [3]:
df.head()

    timestamp     value  label            KPI ID
0  1493568000  1.901639      0  02e99bd4f6cfb33f
1  1493568060  1.786885      0  02e99bd4f6cfb33f
2  1493568120  2.000000      0  02e99bd4f6cfb33f
3  1493568180  1.885246      0  02e99bd4f6cfb33f
4  1493568240  1.819672      0  02e99bd4f6cfb33f

In [108]:
df['label'].value_counts()

0    2422815
1      53500
Name: label, dtype: int64

In [37]:
df['value'].describe()

count    2.476315e+06
mean     1.080211e+08
std      3.196926e+08
min     -4.546069e+00
25%      3.700000e+00
50%      1.293438e+03
75%      2.523000e+03
max      1.608813e+09
Name: value, dtype: float64

In [11]:
# e.g.
df[df['KPI ID'] == ids[5]]['value'].mean()

1025131261.794729

In [38]:
for _id in ids:
    df_tmp = df[df['KPI ID'] == _id]['value']
    df.loc[df['KPI ID'] == _id, 'value'] = (df_tmp - df_tmp.mean()) / df_tmp.std()

In [39]:
df.describe()

          timestamp         value         label
count  2.476315e+06  2.476315e+06  2.476315e+06
mean   1.495904e+09  5.010913e-15  2.160468e-02
std    4.479875e+06  9.999950e-01  1.453889e-01
min    1.467302e+09 -4.993781e+00  0.000000e+00
25%    1.494256e+09 -6.197333e-01  0.000000e+00
50%    1.496356e+09  2.472100e-02  0.000000e+00
75%    1.498562e+09  6.347626e-01  0.000000e+00
max    1.502447e+09  1.405772e+02  1.000000e+00

In [40]:
df.to_csv('../../data/train_norm.csv')